* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center;
}
div {
    margin-top: 0.8em;
}
.container {
    width: 80%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.player-img {
    height: auto;
    width: 256px;
}

.img-button {
    height: auto;
    width: 72px;
}

.players-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16em;
    flex-wrap: wrap;
}

.player, .playerdata {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

.player-left, .player-right {
    display: flex;
    gap: 3em;
    align-items: center;
}

.player-left {
    flex-direction: row-reverse;
}

.player-choices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4em;
}

.winning-text {
    color: green;
    font-size: 3em;
}

.score {
    font-size: 5em;
    border: 2px solid cadetblue;
    width: 2em;
    text-align: center;
    border-radius: 5px;
}